In [1]:
import sqlite3
connection=sqlite3.connect("database.db")
cursor=connection.cursor()
cursor.execute("create table employees(employee_id integer,first_name text,last_name text,email text,phone_number integer,hire_date text,job_id integer,salary integer,commission integer,manager_id integer,department_id integer)")
print("connection established ✅")

connection established ✅

In [2]:
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (4, 'Divyanshu', 'Yadav', 800000)")
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (3, 'Aditya', 'Swarup', 600000)")
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (5, 'Anurag', 'Jain', 600000)")
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (7, 'Shashank', 'Kumar', 300000)")
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (8, 'Niya', 'Shameer', 100000)")
cursor.execute("INSERT INTO employees (employee_id, first_name, last_name, salary) VALUES (9, 'Vashist', 'Agarwala', 200000)")
print("Values Added✅")

Values Added✅

In [3]:
cursor.execute("Select first_name, last_name from employees where salary > 25000")
response = cursor.fetchall()
print("Employees whose salary is greater than 25,000")
for employee in response:
    print(employee)

Employees whose salary is greater than 25,000
('Divyanshu', 'Yadav')
('Aditya', 'Swarup')
('Anurag', 'Jain')
('Shashank', 'Kumar')
('Niya', 'Shameer')
('Vashist', 'Agarwala')

In [4]:
import sqlite3
connection=sqlite3.connect("Students.db")
cursor=connection.cursor()
cursor.execute("create table student(Reg_no text, stud_name text,sex text)")
cursor.execute("create table dept(dept_no text, dept_name text)")
print("connection established ✅")

connection established ✅

In [5]:
cursor.execute("INSERT INTO student (Reg_no, stud_name,sex) VALUES ('RA2111003010693', 'Divyanshu Yadav', 'male')")
cursor.execute("INSERT INTO student (Reg_no, stud_name,sex) VALUES ('RA2111003010698', 'Aditya Swarup', 'male')")
cursor.execute("INSERT INTO student (Reg_no, stud_name,sex) VALUES ('RA2111003010702', 'Taniya Yadav', 'female')")
cursor.execute("INSERT INTO student (Reg_no, stud_name,sex) VALUES ('RA2111003010701', 'Anurag Jain', 'male')")
cursor.execute("INSERT INTO student (Reg_no, stud_name,sex) VALUES ('RA2111003010703', 'Khushi Mishra', 'female')")
print("Values Added✅")

Values Added✅

In [6]:
cursor.execute("select * from student")
print("Displaying all the students:")
cursor.fetchall()

Displaying all the students:

[('RA2111003010693', 'Divyanshu Yadav', 'male'),
 ('RA2111003010698', 'Aditya Swarup', 'male'),
 ('RA2111003010702', 'Taniya Yadav', 'female'),
 ('RA2111003010701', 'Anurag Jain', 'male'),
 ('RA2111003010703', 'Khushi Mishra', 'female')]

In [7]:
cursor.execute("select * from student where sex = 'female'")
print("Displaying all the female students:")
cursor.fetchall()

Displaying all the female students:

[('RA2111003010702', 'Taniya Yadav', 'female'),
 ('RA2111003010703', 'Khushi Mishra', 'female')]

In [8]:
cursor.execute("select * from student order by stud_name desc")
print("Displaying all the students name in descending order:")
cursor.fetchall()

Displaying all the students name in descending order:

[('RA2111003010702', 'Taniya Yadav', 'female'),
 ('RA2111003010703', 'Khushi Mishra', 'female'),
 ('RA2111003010693', 'Divyanshu Yadav', 'male'),
 ('RA2111003010701', 'Anurag Jain', 'male'),
 ('RA2111003010698', 'Aditya Swarup', 'male')]

In [10]:
cursor.execute("select * from student where stud_name like '%K' ")
print("Displaying all the students name ending with 'K':")
cursor.fetchall()

Displaying all the students name ending with 'K':

[]